<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Media App</title>
	<link rel="stylesheet" href="/css/main.css">
</head>
<body>
	<h1>Media App</h1>
	
	<div id="audioSection">
		<h2>Audio Files</h2>
		<input type="file" id="audioFileInput">
		<button id="addAudioButton">Add Audio</button>
	</div>
	
	<div id="videoSection">
		<h2>Video Files</h2>
		<input type="file" id="videoFileInput">
		<button id="addVideoButton">Add Video</button>
	</div>
	
	<div id="imageSection">
		<h2>Image Files</h2>
		<input type="file" id="imageFileInput">
		<button id="addImageButton">Add Image</button>
	</div>
	
	<div id="playlistSection">
		<h2>Playlist</h2>
		<ul id="playlistList"></ul>
		<button id="addPlaylistButton">Add to Playlist</button>
		<button id="savePlaylistButton">Save Playlist</button>
	</div>
	
	<script src="/js/main.js"></script>
</body>
</html>
