<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Video Page</title>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
     <header>
      <h1>Here is the Media App</h1>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/audio">Audio</a></li>
        </ul>
      </nav>
    </header>
   <div class="video-player">
  <h2>Video Player</h2>
  <video controls>
    <source src="/media/video.mp4" type="video/mp4">
     browser does not support the video tag.
  </video>

</div>

  </body>
</html>
